Lenguaje de marcas y gestion de la informacion/Gestor_biblioteca.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    
    <xs:element name="Gestor_Biblioteca">
        <xs:complexType>
            <xs:sequence>

               
                <xs:element name="libros">
                    <xs:complexType>
                        <xs:sequence>

                            <xs:element name="libro" maxOccurs="unbounded">
                                <xs:complexType>

                                    <xs:sequence>
                                        <xs:element name="titulo" type="xs:string"/>
                                        <xs:element name="anioPublicacion" type="xs:string"/>
                                        <xs:element name="editorial" type="xs:string"/>
                                        <xs:element name="autor" type="xs:string"/>
                                        <xs:element name="estado" type="xs:string"/>
                                    </xs:sequence>

                                    <xs:attribute name="id" type="xs:int" use="required"/>

                                </xs:complexType>
                            </xs:element>

                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

               
                <xs:element name="socios">
                    <xs:complexType>
                        <xs:sequence>

                            <xs:element name="socio" maxOccurs="unbounded">
                                <xs:complexType>

                                    <xs:sequence>
                                        <xs:element name="nombre" type="xs:string"/>
                                        <xs:element name="apellido" type="xs:string"/>
                                        <xs:element name="email" type="xs:string"/>
                                    </xs:sequence>

                                    <xs:attribute name="id" type="xs:int"/>

                                </xs:complexType>
                            </xs:element>

                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

               
                <xs:element name="prestamos">
                    <xs:complexType>
                        <xs:sequence>

                            <xs:element name="prestamo" maxOccurs="unbounded">
                                <xs:complexType>

                                    <xs:sequence>
                                        <xs:element name="libro" type="xs:string"/>
                                        <xs:element name="socio" type="xs:string"/>
                                        <xs:element name="fechaInicio" type="xs:string"/>
                                    </xs:sequence>

                                </xs:complexType>
                            </xs:element>

                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                
                <xs:element name="reservas">
                    <xs:complexType>
                        <xs:sequence>

                            <xs:element name="reserva" maxOccurs="unbounded">
                                <xs:complexType>

                                    <xs:sequence>
                                        <xs:element name="libro" type="xs:string"/>
                                        <xs:element name="socio" type="xs:string"/>
                                        <xs:element name="estado" type="xs:string"/>
                                    </xs:sequence>

                                </xs:complexType>
                            </xs:element>

                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>